<%= form_with(model: notice) do |form| %>
  <% if notice.errors.any? %>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="color: red ">
      <h4><%= pluralize(notice.errors.count, "Error") %> Prohibited This Notice From Being Saved:</h4>

      <ul>
        <% notice.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
   <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
    </div>
  <% end %>

  <div>
    <b><%= form.label :topic, style: "display: block" %></b>
    <%= form.text_field :topic, class:"form-control" %>
  </div>
<br>
<div>
    <b><%= form.label :Ref_No, style: "display: block" %></b>
    <%= form.text_field :Ref_No, class:"form-control", placeholder: "GIETU/2024/" %>
  </div>
<br>
  <div>
    <b><%= form.label :date, style: "display: block" %></b>
    <%= form.date_field :date, class:"form-control" %>
  </div>
<br>
  <div>
    <b><%= form.label :content, style: "display: block" %></b>
    <%= form.text_area :content, rows:10, class:"form-control" %>
  </div>
</br>
  <div>
    <%= form.submit class:"btn btn-warning" %>
  </div>

<% end %>
